<!DOCTYPE html>
<html lang="en">
<head>
{% block header %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>intra FrameWork 00</title>

{% block stylesheets %}   
     <link href="{{ asset('bundles/projet0homepagelogin/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" /> 
     <link href="{{ asset('bundles/projet0homepagelogin/css/formmail.css') }}" type="text/css" rel="stylesheet" />
     <link href="{{ asset('bundles/projet0homepagelogin/css/navbar.css') }}" type="text/css" rel="stylesheet" /> 
{% endblock %}

    <script src="bundles/projet0homepagelogin/js/ie-emulation-modes-warning.js"></script>  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bundles/projet0homepagelogin/js/bootstrap.min.js"></script>

    <script src="bundles/projet0homepagelogin/js/ie10-viewport-bug-workaround.js"></script>

{% endblock %}
</head>
{% block body %}
	<body>
		<form id="myform" class="cssform" method="post" action="{{ path('mail')}}">
			<h1>Formulaire de contact </h1>
			<p><label for="user">Nom :</label>
			<input type="text" name="nom" value="" /></p>


			<p><label for="emailaddress">Email * :</label>
			<input type="text" name="emailaddress" value="" required="required" /></p>

			<p><label for="user">Sujet * :</label>
			<input type="text" name="sujet" value="" required="required"/></p>

			<p><label for="comments">Message * :</label>
			<textarea name="message" rows="5" cols="25" required="required"></textarea></p>

			<p id="etoile">Les champs marqu&eacute;s d'une * sont obligatoires</p>
			<p><div style="margin-left: 150px;">
				<input type="submit" value="Valider" class="btn btn-warning">
			</div></p>
		</form>
	</body>
{% endblock %}
</html>